/* Variaveis */
:root {
  --yellow: #FFE195;
  --black: #151515;
  --border-yellow: #a19168;
}


@font-face {
    font-family: Old;
    src: url("fonte/MedievalSharp-Book.ttf");
}

* {
    font-family: Old, serif;
}

strong {
    font-weight: 600;
}
