/* Variaveis */
:root {
  --yellow: #FFE195;
  --black: #151515;
  --border-yellow: #a19168;
}

/* Textura dos minérios da borda da carta */
@keyframes frameOreChange {
    0%, 12.5% {
        background-image: url("../css/frame-ores/Bronze.png");
    }
    12.6%, 25% {
        background-image: url("../css/frame-ores/Silver.png");
    }
    25.1%, 37.5% {
        background-image: url("../css/frame-ores/Gold.png");
    }
    37.6%, 50% {
        background-image: url("../css/frame-ores/Emerald.png");
    }
    50.1%, 62.5% {
        background-image: url("../css/frame-ores/Diamond.png");
    }
    62.6%, 75% {
        background-image: url("../css/frame-ores/Ruby.png");
    }
    75.1%, 87.5% {
        background-image: url("../css/frame-ores/Obsidian.png");
    }
    87.6%, 100% {
        background-image: url("../css/frame-ores/Opal.png");
    }
}

@keyframes colorChange {
    0%, 12.5% {
        background-color: rgb(212, 146, 134);
    }
    12.6%, 25% {
        background-color: rgb(166, 166, 166);
    }
    25.1%, 37.5% {
        background-color: rgb(255, 215, 0);
    }
    37.6%, 50% {
        background-color: rgb(0, 93, 69);
    }
    50.1%, 62.5% {
        background-color: rgb(187, 219, 255);
    }
    62.6%, 75% {
        background-color: rgb(150, 5, 14);
    }
    75.1%, 87.5% {
        background-color: rgb(0, 0, 0);
    }
    87.6%, 100% {
        background-color: rgb(177, 127, 190);
    }
}

.card-img {
    position: relative;
    height: 325px;
    width: 325px;
    background-color: black;
    animation: colorChange 7s linear infinite, gradientChange 3s linear infinite 7s;
}

@font-face {
    font-family: Old;
    src: url("fonte/MedievalSharp-Book.ttf");
}

* {
    font-family: Old, serif;
}

strong {
    font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: capitalize;
    font-size: large;
}