.status-and-power {
    font-size: 10px;
}

.card-power {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.power-title {
    display: none;
}
.power-number {
    font-size: 20px;
}

.status-and-power {
    margin: 0px 5px 0px 10px;
}

.card-footer {
    gap: 13px;
}

.card-serie-number {
    margin-top: 3px;
}

/* FIRST CARD */
.first-card .card {
    width: 328px;
    height: 555px;
}

.first-card .card-background {
    width: 348px;
    height: 577px;
}

.first-card .generated-img, .first-card .card-img {
    width: 328px;
    height: auto;
}

.first-card .card-footer {
    gap: 35px;
}

.first-card  .status-and-power {
    font-size: 15px;
    margin: 0px 14px 0px 13px;
}

.first-card .card-power {
    padding: 4px;
}

.first-card .power-number {
    font-size: 24px;
}

.first-card .star-icon {
    height: 43px;
}

/* SECOND CARD */
.second-card .card {
    width: 291px;
    height: 467px;
}

.second-card .card-background {
    width: 313px;
    height: 490px;
}

.second-card .generated-img, .second-card .card-img {
    width: 291px;
    height: auto;
}


.second-card .card-header {
    font-size: medium;
}

.second-card {
    font-size: smaller;
}

.second-card .status-and-power {
    margin: 0px 19px 0px 20px;
}


/* THIRD CARD */
.third-card .card-background {
    width: 273px;
    height: 432px;
}

.third-card .card {
    width: 254px;
    height: 408px;
}

.third-card .generated-img, .third-card .card-img {
    width: 254px;
    height: auto;
}

.third-card .card-footer {
    gap: 7px;
    font-size: 12px;
}
.third-card .card-header {
    font-size: smaller;
}

.third-card .power-number {
    font-size: 18px;
}

.third-card  .status-and-power {
    margin: 0px 14px 0px 13px;
}

.third-card  .card-type-id {
    padding-top: 10px;
}