/* Variables */
:root {
  --yellow: #FFDC82;
  --black: #151515;
  --bright-yellow: #FFD15C;
  --border-yellow: #a19168;
}


/* General */
@font-face {
    font-family: Old;
    src: url("../content/fonte/MedievalSharp-Book.ttf");
}

html, * {
    font-family: Old, serif;
}

body {
    background-image: url("../content/img/main-background.jpg");
    background-size: cover;
    color: var(--yellow);
}


/* Button & Links */
.btn-main {
    color: #150F0F;
    background: linear-gradient(270deg, #DF8D13 0.01%, #FFCD6B 93.53%);
    box-shadow: 5px 6px 4px 0px rgba(169, 154, 115, 0.72);
    padding: 8px 40px 8px 40px;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.btn-main:hover {
    color: black;
    background: linear-gradient(270deg, #C97F0F 0.01%, #EAB245 93.53%);
    box-shadow: 5px 6px 4px 0px rgba(169, 154, 115, 0.72);
}

a:hover {
    background: rgba(255, 255, 255, 0.05);
}


/* Title & Fonts */
strong {
    font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: capitalize;
    font-size: large;
}


/* Form */
input, textarea, select, button, label {
    border: none;
    outline: none;
    font-size: 20px;
    padding: 5px;
}

input, textarea, select, button {
    background-color: var(--black);
}

input, textarea, select, button, textarea {
    border: solid var(--border-yellow);
    border-width: 0 1px 1px 0;
}

input, label, textarea, select, button, input::placeholder, textarea::placeholder  {
  color: var(--yellow);
}

::placeholder, .option-disabled{
    opacity: .6;
}

/* Cor de fundo do autocomplete */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px var(--black) inset;
}

input:-webkit-autofill {
    -webkit-text-fill-color: var(--yellow) !important;
}
