/* Variables */
:root {
  --yellow: #FFDC82;
  --black: #100909;
  --bright-yellow: #FFD15C;
  --border-yellow: #a19168;
  --dark-brown: #0E0808;
  --light-brown: #211919;
}


/* General */
@font-face {
    font-family: Old;
    src: url("../content/fonte/MedievalSharp-Book.ttf");
}

html, * {
    font-family: Old, serif;
}

body {
    background-image: url("../content/img/main-background.jpg");
    background-size: cover;
    color: var(--yellow);
    cursor: url("../content/img/cursor2.png"), auto;
    cursor: url("../content/img/cursor2.png"), click;
}

button:hover, a:hover {
    cursor: url("../content/img/hand-cursor.png"), pointer;
}


main {
    height: calc(100vh - 80px);
    display: flex;
}


/* Button & Links */
.btn-main {
    color: #150F0F;
    background: linear-gradient(270deg, #DF8D13 0.01%, #FFCD6B 93.53%);
    padding: 8px 40px 8px 40px;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.btn-main:hover {
    color: black;
    background: linear-gradient(270deg, #C97F0F 0.01%, #EAB245 93.53%);
    -webkit-box-shadow:0px 0px 12px 1px rgba(255,230,168,0.9);
    -moz-box-shadow: 0px 0px 12px 1px rgba(255,230,168,0.9);
    box-shadow: 0px 0px 12px 1px rgba(255,230,168,0.9);
}

a:hover {
    background: rgba(255, 255, 255, 0.05);
}


/* Title & Fonts */
strong {
    font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: capitalize;
}


/* Form */
input, textarea, select, button, label {
    border: none;
    outline: none;
    font-size: 20px;
    padding: 5px;
}

input, textarea, select, button {
    background-color: var(--black);
}

input, textarea, select, textarea {
    border: solid var(--border-yellow);
    border-width: 0 1px 1px 0;
}

input, label, textarea, select, button, input::placeholder, textarea::placeholder  {
  color: var(--yellow);
}

::placeholder, .option-disabled{
    opacity: .6;
}

/* Cor de fundo do autocomplete */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px var(--black) inset;
}

input:-webkit-autofill {
    -webkit-text-fill-color: var(--yellow) !important;
}

.card-username {
    color: white;
    font-size: 11px;
    padding: 10px;
}

.username, .card-username {
    text-transform: capitalize;
}

.mini-card-title h3 {
    max-height: 1px;
}