main {
    display: block;
}

main > div {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 30px;
    background: var(--light-brown);
    gap: 20px;
}

section {
    display: flex;
    /* padding-left: 53px; */
    /* padding-right: 53px; */
    /* padding-bottom: 100px; */
    /* gap: 80px; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 62px;
    padding: 30px;
    padding-bottom: 82px;
}

.ranking-list {
    background-color: var(--dark-brown);
    text-align: center;
}


.ranking-best-cards {
    display: flex;
    gap: 45px;
        align-items: flex-end;
}

.ranking-list-cards {
    display: flex;
    gap: 48px;
    flex-wrap: wrap;
    padding: 32px;
    justify-content: center;
}

.crown {
    height: 70px;
}


/* DROPDOWN */
.dropdown-rarity {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 5;
}
.ul-dropdown-rarity {
    display: none;
    position: absolute;
    top: 62px;
    gap: 0px;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-flow: row-reverse;
}

.ul-dropdown-rarity:hover,
.filter-ore:hover ~ .ul-dropdown-rarity {
    display: grid;
    height: auto;
    background: var(--black);
    z-index: 2;
}
/* Fim Dropdown*/

ul.filters {
    gap: 0px;
}

.ranking-list {
    min-height: 100vh;
}

.card-counter {
    display: block;
}
