{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">

    <link rel="shortcut icon" href="{% static 'content/img/icon.png' %}">
    <title>{% block title %} {% endblock %}</title>

    <!--
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script>
       $(document).ready(function() {
            $('.nav-links li a').on('click', function() {
                $('.nav-links li a').removeClass('link-selected');
                $(this).addClass('link-selected');
            });
        });
        }
    </script>
    -->
</head>
<body>
    <header>
        <div class="logo">
            <img src="{% static 'content/img/icon.png' %}" alt="Logo image">
            <h1>RPG Forger</h1>
        </div>
        <div class="header-links">
             <nav>
                <ul class="nav-links">
                    <li><a class="link-select" href="/home">Home</a></li>
                    <li><a class="link-select" href="/generate">Forge</a></li>
                    <li><a class="link-select" href="/ranking">Ranking</a></li>
                    <li><a class="link-select" href="/inventory">Inventory</a></li> <!-- Adicionar para usuários logados -->
                    <li>
                        <a class="link-select username" href=""> Username-BR </a><!-- Adicionar para usuários logados --> <!-- Fazer modal EDIT PROFILE e LOGOUT-->
                        <ul class="username-dropdown">
                            <li> <img class="temporary-img" src="../static/content/img/us.jpg" alt="US Flag"> Edit profile </li>
                            <li> <img class="temporary-img" src="../static/content/img/us.jpg" alt="US Flag"> Logout </li>
                        </ul>
                    </li>

                    <li><a class="link-select link-selected" href="/login">Log in</a></li> <!-- Retirar Login quando user está logado -->
                    <li>
                        <form method="POST" action="{% url 'logout' %}" class="link-select">
                            {% csrf_token %}
                            <button type="submit">Logout</button>
                        </form>
                    </li>
                </ul>
            </nav>
            <div class="language">
                <ul>
                    <li class="language-item">
                        <img src="../static/content/img/us.jpg" alt="US Flag">
                        <small>EN-US</small>
                    </li>
                    <li class="language-item">
                        <img src="../static/content/img/br.png" alt="BR Flag">
                        <small>PT-BR</small>
                    </li>
                </ul>
            </div>
        </div>
    </header>

    {% block content %}{% endblock %}

</body>
</html>




