{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
    <link rel="shortcut icon" href="{% static 'content/img/icon.png' %}">
    <script src="https://kit.fontawesome.com/0f24489fe8.js" crossorigin="anonymous"></script>
    <title>{% block title %} {% endblock %}</title>

    <meta name="viewport" content="width=device-width">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <!--
    <script>
        $(document).ready(function() {
            $(".nav-links li a").click(function() {
                $(".nav-links li a").removeClass('link-selected');
                $(this).addClass('link-selected');

                localStorage.setItem('selectedLinkId', $(this).attr('id'));
            });

            var selectedLinkId = localStorage.getItem('selectedLinkId');
            if (selectedLinkId) {
                $("#" + selectedLinkId).addClass('link-selected');
            }
        });
    </script>
    -->

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var dropdown = document.querySelector('.header-dropdown');
            var dropdownList = document.querySelector('.dropdown-header-links');

            dropdown.addEventListener('click', function () {
                dropdownList.classList.toggle('show');
            });

            document.addEventListener('click', function (e) {
                if (!dropdown.contains(e.target)) {
                    dropdownList.classList.remove('show');
                }
            });
        });

    </script>
</head>
<body>
<header class="header-dropdown">
    <button class="btn-dropdown-header">
        <i class="fa-solid fa-bars" style="color: #ffdc82;"></i>
        Menu
    </button>

    <div class="logo">
        <img src="{% static 'content/img/icon.png' %}" alt="Logo image">
        <h1>RPG Forger</h1>
    </div>
    <div class="header-links dropdown-header-links">
        <nav>
            <ul class="nav-links">
                <li><a class="link-select li-home" href="/home">Home</a></li>
                <li><a class="link-select" href="/generate">Forge</a></li>
                <li><a class="link-select" href="/ranking">Ranking</a></li>
                {% block header %}
                {% endblock %}
            </ul>
        </nav>
    </div>
    <div class="language">
        <div class="language-item">
            <img src="{% static '/content/img/us.jpg' %}" alt="US Flag">
            <small>EN-US</small>
        </div>
        <div class="language-item">
            <img src="{% static '/content/img/br.png' %}" alt="BR Flag">
            <small>PT-BR</small>
        </div>
    </div>
</header>

{% block content %}{% endblock %}

</body>
</html>