{% extends 'header.html' %}
{% load static %}

{% block title %}Forge{% endblock %}

{% block content %}
    <head>
        {{ block.super }}
        <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <!--
        <script>
        $(document).ready(function () {
            // Função para atualizar as opções dos selects com base na seleção do weapon-type
            $("#weapon-type").change(function () {
                var selectedWeapon = $(this).val();

                // Lógica para atualizar o segundo select (weapon-color) com base na escolha do primeiro
                // Exemplo: Adapte conforme necessário
                if (selectedWeapon === "SWORD") {
                    $("#weapon-color").html(`
                        <option value="red">Red</option>
                        <option value="blue">Blue</option>
                        // Adicione mais opções conforme necessário
                    `);
                } else if (selectedWeapon === "CROSSBOW") {
                    $("#weapon-color").html(`
                        <option value="red">black</option>
                        <option value="blue">white</option>
                        // Adicione mais opções conforme necessário
                    `);
                } else if (selectedWeapon === "MAGIC WAND") {
                    // Atualize conforme necessário para a escolha de MAGIC WAND
                }
                // Adicione mais lógica conforme necessário para outros selects

                // Limpe as opções dos outros selects (weapon-aura, weapon-name, etc.) se necessário
            });
        });
    </script>
    -->
    </head>

    <main id="container" class="box">
        <section id="form">
            <div class="frame">
                <form method="post" class="form-forge" id="form-forge" onsubmit="">
                    {% csrf_token %}
                    <select id="weapon-type" name="weapon-type" required>
                        <option value="" class="option-disabled" disabled selected hidden>Select your weapon</option>
                        <option value="SWORD">Sword</option>
                        <option value="CROSSBOW">Crossbow</option>
                        <option value="MAGIC WAND">Wand</option>
                        <option value="AXE">Axe</option>
                        <option value="SPEAR">Spear</option>
                        <option value="DAGGER">Dagger</option>
                    </select>

                   <select class="pick-color" id="weapon-color" name="weapon-color" required>
                        <option value="" class="option-disabled" disabled selected hidden>Select a color</option>
                        <option value="red">Red</option>
                        <option value="blue">Blue</option>
                        <option value="green">Green</option>
                        <option value="yellow">Yellow</option>
                        <option value="orange">Orange</option>
                        <option value="purple">Purple</option>
                        <option value="brown">Brown</option>
                        <option value="black">Black</option>
                        <option value="white">White</option>
                        <option value="gray">Gray</option>
                        <option value="golden">Golden</option>
                        <option value="silver">Silver</option>
                        <option value="turquoise">Turquoise</option>
                        <option value="indigo">Indigo</option>
                        <option value="pink">Pink</option>
                    </select>

                    <select id="weapon-aura" name="weapon-aura" required>
                        <option value="" class="option-disabled" disabled selected hidden>Select an element</option>
                        <option value="lightning">Lightning</option>
                        <option value="thunder">Thunder</option>
                        <option value="poison">Poison</option>
                        <option value="ice">Ice</option>
                        <option value="fire">Fire</option>
                        <option value="divine">Divine</option>
                        <option value="magic">Magic</option>
                        <option value="shadows">Shadows</option>
                        <option value="rainbow">Rainbow</option>
                        <option value="plasma">Plasma</option>
                        <option value="arcane">Arcane</option>
                        <option value="storm">Storm</option>
                    </select>

                    <input type="text" id="weapon-name" name="weapon-name" placeholder="Enter weapon name" required>

                    <textarea id="weapon-description" name="weapon-description" rows="3" cols="40"
                              placeholder="Enter your weapon description (optional)"></textarea>


                    <button type="submit" class="btn-main" id="btn-forge">Forge</button>

                </form>
            </div>
        </section>

        <section id="forge">
            <div class="card-background" style="background-image: url('../static/content/frame-ores/{{ rarity_card }}.png'); animation: {{ none }};">
                <div class="card">
                    <div class="card-header">
                        <h1  style="{{ display_none }}">Card name</h1>
                        <h1>{{ card_name }}</h1>
                        <p class="" style="{{ display_none }}">
                            Opal
                            <img class="ore-icon" src="{% static 'content/img-ores/ore-Opal.png' %}">
                        </p>
                        <p class="card-rarity"  style="{{ display_block }}">
                            {{ rarity_card }}
                            <img class="ore-icon ore-icon-header" src="../static/content/img-ores/ore-{{ rarity_card }}.png">
                        </p>
                    </div>
                    <div class="card-img">
                        <img class="generated-img" style="{{ display_block }}" src="data:image/png;base64,{{ image_base64 }}" alt="Generated image">
                        <small style="{{ display_none }}">?</small>
                    </div>
                    <div class="card-footer">
                        <div class="card-type-id">
                            <p style="{{ display_none }}">[Weapon - 250]</p>
                            <p>{{ type_weapon }}</p>
                        </div>
                        <div class="status-and-power">
                            <ul class="status-list-generated" style="{{ display_flex }}">
                                 {% for data in rarity_status %}
                                    <li>
                                        <img class="ore-icon" src="{% static 'content/img-ores/ore-'|add:data.rarity|add:'.png' %}">
                                        {{ data.type }} - {{ data.status }}
                                    </li>
                                {% endfor %}
                            </ul>
                            <ul class="status-list"  style="{{ display_none }}">
                                <li><img class="ore-icon" src="{% static 'content/img-ores/ore-Opal.png' %}"> STR - ?</li>
                                <li><img class="ore-icon" src="{% static 'content/img-ores/ore-Emerald.png' %}"> VIT - ?</li>
                                <li><img class="ore-icon" src="{% static 'content/img-ores/ore-Gold.png' %}"> AGI - ?</li>
                                <li><img class="ore-icon" src="{% static 'content/img-ores/ore-Ruby.png' %}"> RES - ?</li>
                                <li><img class="ore-icon" src="{% static 'content/img-ores/ore-Silver.png' %}"> LUC - ?</li>
                                <li><img class="ore-icon" src="{% static 'content/img-ores/ore-Obsidian.png' %}"> INT - ?</li>
                            </ul>
                            <div class="card-power" style="background: rgba({{ power_color }} 0.12); border: 1px solid {{ color_back }};">
                                <div class="card-power-title">
                                    <h2 class="power-title" style="
                                            background: linear-gradient(180deg, rgba(255, 255, 255, 0.91) 0%, {{ color_back }} 64.5%); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">Power</h2>
                                    <img class="star-icon" src="{% static 'content/img/star.png' %}">
                                </div>
                                <p style="{{ display_none }}" class="power-number">0000</p>
                                <p class="power-number" style="background: linear-gradient(180deg, rgba(255, 255, 255, 0.91) 0%, {{ color_back }} 64.5%); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">{{ final_status }}</p>
                            </div>
                        </div>
                        <div class="card-description">
                            <p>
                                <strong>Description:</strong>
                                <small style="{{ display_none }}"> Explore the world of possibilities within a card.</small>
                                {{ description }}
                            </p>
                        </div>

                        <div class="card-serie-number">
                            <p style="{{ display_none }}">WE-000.001</p>
                            <p>{{ serial_number_weapon }}</p>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}