{% extends 'header.html' %}
{% load static %}

{% block title %}RPG Forger | Ranking{% endblock %}


{% block header %}
<!-- Se o usuário estiver autenticado -->
{% if user_authenticated %}
<!-- Adicione os elementos específicos para usuários autenticados aqui -->
<!-- Por exemplo, adicione um link para o perfil do usuário e um botão de logout -->
<li><a class="link-select li-inventory" href="/inventory">Inventory</a></li>
<li class="dropdown-container">
    <button class="link-select username">{{ user_name }}</button>
    <ul class="username-dropdown">
        <li>
            <button type="submit" class="btn-edit-profile btn-dropdown">
                <img class="temporary-img" src="{% static '/content/img/settings.png' %}" alt="Edit profile icon">
                Edit profile
            </button>
        </li>
        <li>
            <form method="POST" action="{% url 'logout' %}" class="link-select form-logout">
                {% csrf_token %}
                <button type="submit" class="btn-logout btn-dropdown">
                    <img class="temporary-img" src="{% static '/content/img/logout.png' %}" alt="Logout icon">
                    Logout
                </button>
            </form>
        </li>
    </ul>
</li>
{% else %}
<!-- Se o usuário não estiver autenticado -->
<!-- Adicione os elementos específicos para usuários não autenticados aqui -->
<li><a class="link-select link-selected" href="/login">Log in</a></li>
{% endif %}
{% endblock %}


{% block content %}
    <head>
        {{ block.super }}
        <link rel="stylesheet" type="text/css" href="{% static 'css/inventory.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/card-style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/big-card-template.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/ranking.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/rankingMediaQuery.css' %}">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
        $(document).ready(function () {
            $('.filter-button').click(function () {
                var filterValue = $(this).data('filter');
                $.ajax({
                    url: '/ranking/filter_'+ filterValue,
                    type: 'GET',
                    data: {filter: filterValue},
                    success: function () {

                        window.location.href = '/ranking/filter_' + filterValue;
                    },
                    error: function () {
                        alert('Erro ao carregar os cards filtrados.');
                    }
                });
            });
        });
        </script>
    </head>

    <main>
        <div>
            <h2>Ranking</h2>
            <ul class="filters">
                <li>
                    <button class="icon-filter filter-button megazord" data-filter="all"></button>
                </li>
                <li>
                    <button class="icon-filter filter-button weapon" data-filter="weapon"></button>
                </li>
                <li>
                    <button class="icon-filter filter-button potion" data-filter="potion"></button>
                </li>
                <li>
                    <button class="icon-filter filter-button armor" data-filter="armor"></button>
                </li>
                <li class="dropdown-rarity">
                    <button class="icon-filter filter-button filter-ore" data-filter="all"></button>

                    <ul class="ul-dropdown-rarity">
                        <li>
                            <button class="icon-filter filter-button filter-bronze" data-filter="bronze"></button>
                        </li>
                        <li>
                            <button class="icon-filter filter-button filter-silver" data-filter="silver"></button>
                        </li>
                        <li>
                            <button class="icon-filter filter-button filter-gold" data-filter="gold"></button>
                        </li>
                        <li>
                            <button class="icon-filter filter-button filter-emerald" data-filter="emerald"></button>
                        </li>
                        <li>
                            <button class="icon-filter filter-button filter-diamond" data-filter="diamond"></button>
                        </li>
                        <li>
                            <button class="icon-filter filter-button filter-ruby" data-filter="ruby"></button>
                        </li>
                        <li>
                            <button class="icon-filter filter-button filter-obsidian" data-filter="obsidian"></button>
                        </li>
                        <li>
                            <button class="icon-filter filter-button filter-opal" data-filter="opal"></button>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
   <section class="ranking-list">
       <div class="ranking-best-cards">
           {% for card in ranking_list %}
                {% if forloop.counter == 1 %}
                    <div class="ranking_card second-card">
                        <img class="crown" src="{% static 'content/img/second-crown.png' %}">
                        {% include 'big_card_template.html' with card=ranking_list.1 %}
                    </div>
                {% elif forloop.counter == 2 %}
                    <div class="ranking_card first-card">
                        <img class="crown" src="{% static 'content/img/first-crown.png' %}">
                        {% include 'big_card_template.html' with card=ranking_list.0 %}
                    </div>
                {% elif forloop.counter == 3 %}
                    <div class="ranking_card third-card">
                        <img class="crown" src="{% static 'content/img/third-crown.png' %}">
                        {% include 'big_card_template.html' with card=card %}
                    </div>
                {% endif %}
           {% endfor %}
       </div>

       <div class="ranking-list-cards">
            {% for card in ranking_list %}
                {% if forloop.counter > 3 %}
                    <div class="ranking_card">
                        {% include 'mini_card_template.html' with card=card %}
                    </div>
                {% endif %}
            {% endfor %}
       </div>

    </section>

    </main>
{% endblock %}
