@font-face {
    font-family: Old;
    src: url("fonte/OldSchoolAdventures.ttf");
}

h1 {
    font-family: Old, serif;
    color: red;
}

#container {
    margin: 0;
    padding: 0;
    width: 10%;
    height: 940px;
    background-image: url("Content/Forja.png");
    background-size: 100%;
    -webkit-background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}